/* ----------------- GLOBAL ELEMENTS ----------------- */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ----------------- REACT LOGO ----------------- */
.appLogo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .appLogo {
    animation: appLogo-spin infinite 20s linear;
  }
}

@keyframes appLogo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ----------------- HOME LAYOUT ----------------- */
.navBarFull {
  background-color: rgba(234, 234, 234, 1);
  position: fixed;
  width: 100vw;
  height: 10vh;
  z-index: 2;
  padding: 10px;
  display: flex;
  align-items: center;
}

.navBarHeader {
  color: rgba(0, 152, 195, 0.8);
  font-weight: bold;
  margin: 0;
}

.belowNavBarFullDiv {
  min-height: 100vh;
  padding-top: 10vh;
}

.sideBarFullDiv {
  position: fixed;
  background-color: rgba(15, 75, 128, 0.9);
  width: 11vw;
  min-height: 100vh;
  padding: 25px 5px;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentPageFullDiv {
  background-color: #282c34;
  padding-left: 11vw;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ----------------- SIDEBAR ELEMENT ----------------- */
.modeSelectDiv {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 15px;
}

.modeSideBarSelect {
  font-size: 14px;
  width: 63%;
  height: 25px;
}

.modeLabel {
  font-size: 14px;
}

.urlTextInput {
  width: 90%;
  height: 25px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.algoModeSelect {
  width: 90%;
  height: 25px;
  font-size: 14px;
  margin-bottom: 15px;
}

/* ----------------- DATA UPLOAD ELEMENT ----------------- */
.dataFullDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
}

.dataUploadFullDiv {
  background-color: lightgray;
  color: black;
  border-radius: 10px;
  width: 100%;
  padding: 10px 5px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.dataFileNameInput {
  border-radius: 5px;
  width: 90%;
  font-size: 14px;
  margin: 8px 0;
  padding: 0 5px;
}

.dataFileNameInput:focus {
  background-color: rgba(184, 231, 122, 0.9);
}

.dataFileBtn {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -100;
}

.uploadFileLink {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  width: 90%;
  height: 25px;
  background-color: rgba(50, 50, 50, 0.8);
  color: white;
  cursor: pointer;
  margin: 8px 0;
}

.dataUploadBtn {
  background-color: lightblue;
  width: 90%;
  border-radius: 5px;
  margin: 8px 0;
  font-weight: bold;
}

.linkText:hover {
  cursor: pointer;
  text-decoration: underline;
}

.fileStatusTextDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 5px 0;
}

.queuedStatusText {
  color: rgb(212, 51, 51);
  font-size: 14px;
}

.uploadedStatusText {
  color: rgb(21, 192, 21);
  font-size: 14px;
}

.lastFileUploadText {
  font-size: 14px;
}

.postUploadFileDiv {
  background-color: lightgray;
  color: black;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.postUploadHeader {
  text-decoration: underline;
  font-size: 14px;
  width: 90%;
}

.postUploadUL {
  padding-inline-start: 25px;
}

.postUploadList {
  font-size: 12px;
  font-weight: 400;
}

/* ----------------- APP ELEMENT ----------------- */

.fileSubmitDiv {
  background-color: lightgray;
  color: black;
  display: flex;
  justify-content: center;
  padding: 15px;
  margin: 25px 0;
  border-radius: 10px;
}

/* ----------------- APP SCATTER ELEMENT ----------------- */
.appScatterDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

.containerScatterDiv {
  background-color: rgba(200, 200, 200, 0.9);
  border-radius: 10px;
  padding: 35px;
  display: flex;
  justify-content: center;
  width: 70%;
}

.scatterPlotSvg {
  height: 100%;
}

.scatterChartArea {
  background-color: rgba(40, 44, 52, 0.8);
  height: 100%;
  border-radius: 5px;
  padding: 15px;
}

.scatterStudentRow {
  display: flex;
  color: rgba(100, 100, 100, 1);
  font-weight: bold;
  align-items: center;
  height: 45px;
  margin-top: 10px;
  border-radius: 10px;
}

.scatterCircle {
  cursor: pointer;
  fill: rgba(0, 152, 195, 0.8);
}

.scatterCircle:hover {
  fill: lightpink;
}

/* ----------------- APP BAR ELEMENT ----------------- */
.appBarDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

.containerBarDiv {
  background-color: rgba(200, 200, 200, 0.9);
  border-radius: 10px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

.barChartArea {
  background-color: rgba(40, 44, 52, 0.8);
  height: 100%;
  border-radius: 5px;
  padding: 15px;
}
