/* ----------------- REACT LOGO ----------------- */
.appLogo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .appLogo {
    animation: appLogo-spin infinite 20s linear;
  }
}

@keyframes appLogo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ----------------- NAVBAR ELEMENT ----------------- */
.navBarFull {
  background-color: rgba(234, 234, 234, 1);
  position: fixed;
  width: 100vw;
  height: 10vh;
  z-index: 2;
  padding: 10px;
}

.navBarHeader {
  font-weight: bold;
}

.belowNavBarFullDiv {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100vh;
  padding-top: 10vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ----------------- CONTAINER ELEMENT ----------------- */
.containerDiv {
  background-color: rgba(200, 200, 200, 0.9);
  border-radius: 10px;
  padding: 35px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  /* width: 70%; */
}

/* .row {
  display: flex;
  width: 45%;
  margin: 0;
} */

/* .col {
  width: 100%;
  padding: 0;
} */

/* ----------------- CHART ELEMENT ----------------- */
.chartArea {
  background-color: #282c34;
  border-radius: 5px;
  padding: 15px;
}

/* ----------------- FORM ELEMENT ----------------- */
.studentRow {
  display: flex;
  color: rgba(100, 100, 100, 1);
  font-weight: bold;
  align-items: center;
  height: 45px;
  margin-top: 10px;
  border-radius: 10px;
}
